<head>
  <title> Kevin's Research Stuff </title>
</head>
<body>
  <h1> Kevin's Research Stuff </h1>
  <h2> Links to my slides: </h2>
  <ul>
    <li> <a href="slides/meeting-06-15-15.html">June 15, 2015</a> </li>
    <li> <a href="slides/notes-06-18-15.html">June 18, 2015</a> </li>
    <li> <a href="slides/notes-06-30-15.html">June 30, 2015</a> </li>
  <ul>
</body>
